<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- This line blocks cross site scripting-->
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' https://cdn.jsdelivr.net;"
    />

    <title>GuessThe.Game DB</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="manifest" href="/static/manifest.json" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
  </head>

  <body>
    <h1 class="banner">GuessThe.Game Database</h1>

    <!-- Include a navigation menu-->
    <nav>
      <a href="/">Home</a>
      {% if not session['username'] %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {% else %}
      <a href="/logout">Logout</a>
      {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <!-- This section will contain the page content-->
    <main>{%block content %} {% endblock %}</main>

    <!-- This script will be for the service worker-->
    <script src="static/js/app.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
