{% extends "base.html" %} {% block content %}

<h2>Edit your Review</h2>
<br />
<h3>Current Review</h3>
<p class="bolded">
  Movie/TV Show: {{ review['movie_show'] }}
  <br />
  Format: {{ review['format'] }}
  <br />
  Rating: {{ review['rating']*"⭐" }} <br />
  Review: {{ review['review'] }}
</p>

<br />
<br />

<form action="/edit" method="post">
  <label>Movie/TV Show Name: </label>
  <input type="text" name="movie_show" id="movie_show" />
  <label for="Format">Movie or TV Show: </label>
  <select id="format" name="format">
    <option value="Movie">Movie</option>
    <option value="TV Show">TV Show</option>
  </select>
  <label for="Rating">Rating: </label>
  <select id="rating" name="rating">
    <option value="1">⭐</option>
    <option value="2">⭐⭐</option>
    <option value="3">⭐⭐⭐</option>
    <option value="4">⭐⭐⭐⭐</option>
    <option value="5">⭐⭐⭐⭐⭐</option>
  </select>
  <label>Review: </label>
  <input type="text" name="review" id="review" />
  <input type="hidden" name="id" value="{{ review['id'] }}" />
  <input type="submit" value="Edit review" />
</form>
{% endblock %}
