{% extends "base.html" %} {% block content %}

<div class="container">
  <p>
    Welcome to Lights, Camera, Action. This website is a fun junction for movie
    and tv show fantatics and want to review or rant about they're favourite or
    least favourite movies and tv shoes to fans and haters alike
  </p>

  {% if session['username'] %}
  <br />
  <p class="bolded">Hello {{name}}</p>
  <a href="/add"><button>Add Review</button></a>
  {%else%}
  <br />
  <p class="bolded">
    Please log in to view other people's favourite/least favourite movies and tv
    shows
  </p>
  {% endif %}
</div>

<br />

<table class="review_table">
  <thead>
    <th class="date">Date</th>
    <th>User who reviewed</th>
    <th class="movie">Movie/TV Show</th>
    <th>Rating</th>
    <th>Review</th>
  </thead>

  <tbody>
    {% for review in reviews %}
    <tr>
      <td>{{ review['date'] }}</td>
      <td>{{ review['username'] }}</td>
      <td>{{ review['movie_show'] }}</td>
      <td>{{ review['rating'] }}</td>
      <td>{{ review['review'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
